<h2>Artist Page</h2>

@{{user.username}}

{{#if isSelf}}
  <br><a href="/settings">Preferences</a>
  <br><a href="/logout">Log Out</a>
  <br><a href="/commission_request">Submit a Commission Request!</a>
  <br><a href="/commissions">View Commissions</a>
{{/if}}