<h2>Incoming Commissions Requests</h2>

<table id="incoming_requests">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <!-- Table rows will go here -->
  </tbody>
</table>



<h2>Outgoing Commissions Requests</h2>

<table id="outgoing_requests">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <!-- Table rows will go here -->
  </tbody>
</table>
