<h2>Most Recent Posts</h2>
  {{#each mostRecentPosts}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <!-- Add other post details you want to display -->
    </div>
  {{/each}}
<h2>Top Liked Posts</h2>
  {{#each topLikedPosts}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <!-- Add other post details you want to display -->
    </div>
  {{/each}}