/*  Main Stylesheet  */
* {
    font-family: 'Georgia', sans-serif;
}

header, .header {
    background-color: #e0e0e0;
    left: 0;
    top: 0;
    padding: 5px 5px 5px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #title {
        font-size: 20pt;
        font-weight: bold;
    }

    #searchbar {
        display: flex;

        input {
            padding: 5px;
            border-radius: 10px 0 0 10px;
            border-width: 0;
        }

        button:disabled {
            background-color: lightblue;
        }

        button {
            background-color: blue;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 0 10px 10px 0;
        }
    }

    #icons {
        margin-left: 50px;
        width: 100px;
        display: flex;
        height: 15pt;
        justify-content: center;
        align-items: center;
    }
}

.header-link {
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    margin: 0 5px;
    padding: 5px;
}

a.icon {
    text-decoration: none;
}