/*  Main Stylesheet  */
* {
    font-family: 'Georgia', sans-serif;
    /* uncomment this to see a wireframe of the site */
    /* outline: red 1px solid;*/
}

header, .header {
    background-color: #e0e0e0;
    left: 0;
    top: 0;
    padding: 5px 5px 5px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        width: 20px;
        height: 20px;
    }

    #title {
        font-size: 20pt;
        font-weight: bold;
        white-space: nowrap;
    }

    #searchbar {
        display: flex;

        * {
            box-shadow: gray 1px 1px 4px;
        }

        input {
            padding: 5px 15px;
            border-radius: 10px 0 0 10px;
            border-width: 0;
            width: 210px;
        }

        button:disabled {
            background-color: lightblue;
        }

        button {
            background-color: blue;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 0 10px 10px 0;
        }
    }

    #icons {
        margin-left: 50px;
        width: 100px;
        display: flex;
        height: 15pt;
        justify-content: center;
        align-items: center;
    }
}

.header-link {
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    margin: 0 5px;
    padding: 5px;
}

a.no-dec {
    text-decoration: none;
    color: inherit;
}

.thumbnail {
    width: 200px;
}

.post {
    border: gray 1px solid;
    border-radius: 15px;
    padding: 2px 10px;
    margin: 5px;
    width: auto;
    box-shadow: gray 1px 1px 4px;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    align-items: center;
    justify-content: center;

    * {
        margin: 2px;
    }
}

.search-post {
    width: 230px;
    height: 400px;
}

.results {
    display: flex;
}